*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
}
h1{
    font-size: 1.5rem;
}
p{
    font-size: 0.8rem;
}
button{
    width: 40%;
    font-weight: bold;
    background-color: rgb(38, 41, 235);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}